.application-footer
  .container-fluid
    .application-footer__inner
      .row
        .col-sm-4
          %p Доставка и оплата
          %img{src: 'images/mc.png', alt: 'mastercard'}
          %img{src: 'images/mc.png', alt: 'mastercard'}
        .col-sm-4
          %p Следите за нами в соцсетях
          %a.soc-link{href: 'http://facebook.com', title: 'Facebook'}
        .col-sm-4
          %p с 2014 сахарок. Все права защищены
          %a{href: '#'}
            %img{src: 'images/_kiosklogo.png', alt: ''}