.alert.alert-danger Обнаружены ошибки, пожалуйста, взгляните на них
%form#new_operator_login_form.simple_form.login__form{"accept-charset" => "UTF-8", :action => "/login", :method => "post", :novalidate => "novalidate"}
  .login__form-header Авторизация
  .form-group.tel.required.operator_login_form_phone.has-error
    %input#operator_login_form_phone.string.tel.required.form-control.form-control{:name => "operator_login_form[phone]", :placeholder => "ргн", :type => "tel", :value => "sdsd"}
    %span.help-block.has-error Неверный формат телефона
  .form-group.string.required.operator_login_form_pin_code
    %input#operator_login_form_pin_code.string.required.form-control{:name => "operator_login_form[pin_code]", :placeholder => "ргн", :type => "text", :value => "sdsdsd"}
  .login__form-actions
    %input.btn.login__form-submit-btn{:name => "commit", :type => "submit", :value => "Войти"}

