%ul.modification-list
  - for i in [1..5]
    %li.modification.row
      .col-md-7.col-sm-8
        .modification__desc
          Велосипед Fuji «Declaration» (2014), рост 560, фиолетовый
        .stock-status
          .stock-status__dots
            %span.stock-status__dot.stock-status__dot_filled
            %span.stock-status__dot.stock-status__dot_filled
            %span.stock-status__dot

      .col-md-5.col-sm-4
        .modification__acts
          %button.products__show-item-cart-btn{type: 'submit'}
            .navbar-cart-btn-icon
            В корзину