.application-navbar
  .container-fluid
    .row
      .col-sm-12.col-md-4
        .navbar-description
          Магазин мебели ручной работы
          %br
          %ul.navbar-phones
            %li
              ="+7 903 595 1737"
            %li
              ="+7 903 595 1737"
      .col-md-4.col-sm-12.col-xs-12.col-sm-pull-0
        %a.navbar-brand-link{href: 'welcome.html'}
          %img.navbar-brand-image{src: 'images/wannabe/logo.png', alt:'field & rage'}
      .row.visible-xs
      .col-md-3.col-sm-12.col-xs-12.col-md-push-1
        %div.search
          %form
            %input.search__field{type: 'text', placeholder: 'Поиск'}
            %button.search__submit{type: 'submit'}
        
        %div{data-react-class: 'BasketButton', data-react-props: '{"cartUrl": "cart.html"}'}
        
        %div{data-react-class: 'BasketPopup'}

      .col-sm-12.col-xs-6.col-xs-pull-6.col-sm-pull-0.hidden-sm.hidden-xs
        %button.navbar-categories-toggle-btn.collapsed{"data-target" => "[categories-nav]", "data-toggle" => "collapse", type: "button"}
          %i.fa.fa-bars
          %span.navbar-categories-toggle-btn-caption
            Каталог
    .collapse.navbar-collapse{'categories-nav': ''}
      %ul.categories-nav
        - categories = ['Столы', 'Стулья', 'Свет', 'Декор' ]
        - for c in categories
          %li
            %a{href: '#'}= "#{c}"
        %li.dropdown.dropdown_right
          %a.dropdown-toggle{href: '#', data-toggle: "dropdown"} Аксессуары
          %ul.dropdown-menu
            %li.dropdown-col
              %ul
                %li
                  %a{href: '#', data-count:'45'} Кольца
                %li
                  %a{href: '#', data-count:'1'} Цепи
                %li
                  %a{href: '#', data-count:'6'} Злато
                %li
                  %a{href: '#', data-count:'12'} Тренд
                %li
                  %a{href: '#', data-count:'4'} Миднайт
                %li
                  %a{href: '#', data-count:'9'} Дисплей
                %li
                  %a{href: '#', data-count:'1'} Цепи
                %li
                  %a{href: '#', data-count:'6'} Злато
            %li.dropdown-col
              %ul
                %li
                  %a{href: '#', data-count:'45'} Кольца
                %li
                  %a{href: '#', data-count:'1'} Цепи
                %li
                  %a{href: '#', data-count:'6'} Злато
                %li
                  %a{href: '#', data-count:'45'} Кольца
      #nav
        %ul
          - categories = ['Столы', 'Стулья', 'Свет', 'Декор' ]
          - for c in categories
            %li
              %a{href: '#'}= "#{c}"
          %li
            %span Аксессуары
            %ul
              %li
                %a{href: '#', data-count:'45'} Категория
              %li
                %a{href: '#', data-count:'1'} Категория
              %li
                %a{href: '#', data-count:'6'} Категория
              %li
                %a{href: '#', data-count:'12'} Категория
              %li
                %a{href: '#', data-count:'4'} Категория
              %li
                %a{href: '#', data-count:'9'} Категория
    %a#navopen.mmenu-open.visible-sm.visible-xs{href: "#nav"}
      %span.mmenu-open__tick.mmenu-open__tick_f
      %span.mmenu-open__tick.mmenu-open__tick_s
      %span.mmenu-open__tick.mmenu-open__tick_t
