- for i in [1..5]
  .products__list-item-wrap(ks-product-item)
    .products__list-item{'ks-jump': 'product.html'}
      .products__list-item-image-block
        %img.products__list-item-image{ src: "images/product-square.jpg" }
      .products__list-item-title
        Моно-серьга имитация тоннеля серебряная с белыми цирконами
      .products__list-item-price
        8 900 руб.
