.b-theme-switch
  .b-theme-switch__item{ks-theme-switcher: "", data-classlist: "theme-basic", data-logourl: "images/wannabe/logo.png"} Basic
  .b-theme-switch__item{ks-theme-switcher: "", data-classlist: "theme-basic theme-basic_black", data-logourl: "images/wannabe/logo.png"} Basic dark
  .b-theme-switch__item{ks-theme-switcher: "", data-classlist: "theme-basic style-wannabe", data-logourl: "images/wannabe/logo.svg"} Wannabe
  .b-theme-switch__item{ks-theme-switcher: "", data-classlist: "theme-basic style-sugar", data-logourl: "images/sugar/logo.png"} Sugar
  .b-theme-switch__item{ks-theme-switcher: "", data-classlist: "theme-basic style-cc", data-logourl: "images/cc/logo.png"} Citycicle
  .b-theme-switch__item{ks-theme-switcher: "", data-classlist: "theme-basic style-etc", data-logourl: "images/etc/logo.png"} etc