.b-page_theme-wannabe
  font-family: $font-stack-gotham-family
  .b-nav
    &__list
      border-color: transparent
    &__link
      text-transform: uppercase
      font-weight: bold
    &__list_sub
      .b-nav__link
        font-weight: normal

  .b-item-list
    &__item
      @extend %three-twelfths
      @extend %lap--one-half
      @extend %palm--one-half
    
  .b-item
    color: #000
    &__name,
    &__price
      font-size: 1.143em
    &__price
      font-weight: bold
      &_old
        font-weight: normal

  .b-status
    &_sold
      background-color: transparent

  .b-footer
    border-top: 1px solid $wannabeBorderColor