<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'

  %body.theme-basic.style-cc
    .application
      +include 'app/haml/shared/_navbar_cc.haml'


      .application-content
        .container-fluid
          .products__list.products__list_catalog.products__list_has-filter
            .row
              .col-md-10.col.col-md-offset-2
                %h1.products__list__title Компоненты

            .full-filter
              .row
                .col-md-2
                  +include 'app/haml/shared/_filter.haml'
                          
                .col-md-10
                  .full-filter__content-wrap
                    .row
                      - for i in [1..16]
                        .products__list-item-wrap
                          %a.products__list-item{'href': 'product_cc_2.html'}
                            .products__list-item-image-block
                              %img.products__list-item-image{ src: "http://citycycle.ru/upload/product_images/26195/67057f7a18c35e39693a431b1d762a30_350x235.jpg" }
                            .products__list-item-title
                              Рама трековая Fobos «Zet» (2014) / Зеленая матовая
                            .products__list-item-price
                              8 900 руб.

      +include 'app/haml/shared/_footer.haml'

      +include 'app/haml/shared/_themeswitcher.haml'

    %script{src: 'scripts/vendor.js'}
    %script{src: 'scripts/client.js'}