<!DOCTYPE html>
%html
  %head
    @@include('./shared/_head.haml')
  %body
    .navbar-transparent
      .container
        %h1.text-center kiosk static
    .login__content.login__content--fullscreen
      .login__block
        -#.alert.alert-danger
        .login__form
          - pages = ['welcome.html', 'slider.html', 'product.html', 'cart.html', 'checkout.html', 'complete.html', 'text.html', 'catalog.html']
          - for page of pages
            - page = pages[page]
            %h3
              %a{href: "#{page}"}
                = page

    .navbar-transparent
      .container
        %h1.text-center citycicle static
    .login__content.login__content--fullscreen
      .login__block
        -#.alert.alert-danger
        .login__form
          - pages = ['slider_cc.html', 'product_cc.html', 'text_cc.html', 'cart_cc.html', 'catalog_cc.html', 'checkout_cc.html', 'complete_cc.html']
          - for page of pages
            - page = pages[page]
            %h3
              %a{href: "#{page}"}
                = page
