<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body.b-page.b-page_theme-cc
    .b-page__content
      .b-page__content__inner
        +include 'app/haml/shared/_navbar_cc.haml'

        .b-item-full
          .b-item-full__header
            .b-breadcrumbs
              %a{href: '/'}
                Столы
              \ /
              %a{href: '/'}
                Маленькие столы

            %h1.b-item-full__title
              Велосипед Linus «Dutchi 1», односкоростной / Кремовый

          / Основной контент о товаре
          .b-item-full__content.b-item-full__content_no-cols
            .b-item-full__gallery
              +include 'app/haml/shared/_product-carousel.haml'

            .b-item-full__description
              .b-item-full__description-inner
                .b-item-full__description-inner__col-left
                  .b-item-full__price 12 000
                    %span.b-item-full__price__currency руб.
                    %br
                    %span.b-item-full__price__old 20990 руб
                    %span.b-item-full__price__sale -5%

                  .b-item-full__text.b-item-full__text_intro
                    %p Fuji «Declaration» — упрощенный вариант модели «Classic Track», приспособленный для езды преимущественно по городу
                    %p Комплект тормозов и задняя флип-флоп втулка позволяют быстро превратить этот fixed gear в обычный односкоростной велосипед.
                    %span.b-show-more Показать все

                .b-item-full__description-inner__col-right
                  %ul.b-modification-list
                    - for i in [1..3]
                      %li
                        .b-modification
                          .b-modification__content  
                            Велосипед Fuji «Declaration» (2014), рост 560, фиолетовый
                            .b-q-status
                              %span.b-q-status__state.b-q-status__state_ok
                              %span.b-q-status__state.b-q-status__state_ok
                              %span.b-q-status__state
                          .b-modification__action
                            %div{data-react-class: 'AddToBasketButton'}

          / %ul.b-feature-list
          /   - for i in [1..6]
          /     %li
          /       .b-feature
          /         %figure.b-feature__pic
          /           %img{src: 'http://citycycle.ru/upload/product_images/21702/f2a3684cba49a5ee5aeb5cc8748f5d4a_0x0.jpg', alt: ''}
          /         %h3.b-feature__name Крепкая стальная рама

          .b-item-full__content.b-item-full__content_no-cols
            .b-item-full__description
              .b-item-full__description-inner
                .b-item-full__description-inner__col-left
                  .b-item-full__text.b-item-full__text_etc
                    %h2 Технические характеристики
                    %ul.b-characteristics
                      - details = [{'Серебро': '12 К'}, {'Цирконы': '10 К'}, {'Кристаллов': '1294'}, {'Вес': '3 гр' }]
                      - for obj, i in details
                        - for key of obj
                          %li
                            %strong.b-characteristics__name
                              = "#{key}:"
                            %span.b-characteristics__val
                              = obj[key]

                .b-item-full__description-inner__col-right
                  .b-item-full__text.b-item-full__text_etc
                    %h2 Технические характеристики
                    %p Эта модель отгружается как с нашего склада, так и со склада производителя и может требовать уточнения наличия велосипеда в нужной ростовке и цвете. Перед заказом свяжитесь и уточните наличие с менеджером по телефону +7 903 500 20 70.
                    %p Fuji «Feather» 2014 — городской fixed gear велосипед созданный на основе трековой классики, но оптимизированный под современного райдера. Подседельный штырь с аэро профилем, классический трековый руль-баран, стальная трековая вилка с узловой короной.
                    %p Fuji «Feather» имеет большую линейку ростовок для велосипедистов почти любого роста.



        / Иные товары

        %section.b-item-list.b-item-list_four-in-row
          %h2.b-item-list__title С этим товаром мы рекомендуем
          .b-item-list__content
            - for i in [1..4]
              .b-item-list__item
                %a.b-item{href: 'product.html'}
                  .b-item__pic-wrap
                    %img.b-item__pic{src: 'images/product-square.jpg', alt:'paste product name here'}
                    .b-item__status
                      -if i == 1
                        %span.b-status.b-status_sold Распродано
                      -if i == 2
                        %span.b-status.b-status_preorder Под заказ
                      -if i == 3
                        %span.b-status.b-status_sale Sale -24%
                  .b-item__info
                    %h2.b-item__name Моно-серьга имитация тоннеля серебряная с белыми цирконами
                    .b-item__price 8 900 руб.

        %section.b-item-list
          %h2.b-item-list__title Этот товар, но другого цвета
          .b-item-list__content
            - for i in [1..3]
              .b-item-list__item
                %a.b-item{href: 'product.html'}
                  .b-item__pic-wrap
                    %img.b-item__pic{src: 'images/product-square.jpg', alt:'paste product name here'}
                    .b-item__status
                      -if i == 1
                        %span.b-status.b-status_sold Распродано
                      -if i == 2
                        %span.b-status.b-status_preorder Под заказ
                      -if i == 3
                        %span.b-status.b-status_sale Sale -24%
                  .b-item__info
                    %h2.b-item__name Моно-серьга имитация тоннеля серебряная с белыми цирконами
                    .b-item__price 8 900 руб.
          

        +include 'app/haml/shared/_footer.haml'
    
    %script{src: 'scripts/vendor.js'}
    %script{src: 'scripts/client.js'}