<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body.b-page
    .b-page__content
      
      +include 'app/haml/shared/_navbar.haml'
      .b-item-full
        / Шапка, которая используется для мобильных устройств
        .b-item-full__header.b-item-full__header_mobile
          .b-breadcrumbs
            %a{href: '/'}
              Столы
            \ /
            %a{href: '/'}
              Маленькие столы

          %h1.b-item-full__title
            Моно-серьга лалала
              %span.b-item-full__articul Арт. 123123

        / Основной контент о товаре
        .b-item-full__content
          .b-item-full__gallery
            +include 'app/haml/shared/_product-carousel.haml'

          .b-item-full__description
            .b-item-full__header
              .b-breadcrumbs
                %a{href: '/'}
                  Столы
                \ /
                %a{href: '/'}
                  Маленькие столы

              %h1.b-item-full__title
                Моно-серьга лалала
                  %span.b-item-full__articul Арт. 123123

              .b-item-full__price 12 000.-

            .b-item-full__form
              %form
                .b-item-full__form__option
                  %select{product-select}
                    %option{selected: 'selected'} Выберите размер
                    %option{data-productItem:'{"id":3777,"product_id":2057,"title":"Размер: 13","updated_at":"2014-11-19T15:27:48.378+04:00","created_at":"2014-10-29T15:48:25.489+04:00","article":"MR007-01-13","quantity_unit":{"id":"pcs","short":"шт."},"quantity":"15.0","count":15,"description":"Миникольцо Ви без камней серебряное (родий, Серебро 925, R140114, 13, MR007-01-13)","stock_synced_at":"2014-11-19T15:25:01.742+04:00","is_stock_synced":true,"ms_consignment_uuid":"ea75f922-2e22-11e4-f123-002590a28eca","ms_feature_uuid":"ea75f327-2e22-11e4-279d-002590a28eca","product":{"id":2057,"category_id":173,"title":"Миникольцо Ви без камней серебряное","updated_at":"2014-11-18T20:03:34.676+04:00","position":33,"price":{"cents":200000,"currency":"RUB"},"is_published":true,"has_errors":false,"manual_state":0,"total_items_quantity":"155.0","quantity_unit":{"id":"pcs","short":"шт."},"state":"published","image":{"mobile_url":"http://3001.vkontraste.ru/uploads/product_image/image/4229/image.png","url":"http://3001.vkontraste.ru/uploads/product_image/image/4229/image.png","id":4229},"images":[{"mobile_url":"http://3001.vkontraste.ru/uploads/product_image/image/4229/image.png","url":"http://3001.vkontraste.ru/uploads/product_image/image/4229/image.png","id":4229}]}}'} Размер 15
                    %option{disabled} Размер 11 — нет в наличии

                .b-item-full__form__submit
                  %div{data-react-class: 'AddToBasketButton'}

            .b-item-full__text
              Make peace, not war! Настоящий блокбастер среди украшений - серебряная моносерьга в виде пули Wanna?Be! - попала в самое сердце столичных модниц. Инкрустированный цирконами аксессуар не оставил и знаменитую на весь мир икону стилю, Рианну. Известная дива не раз дополняла этим аксессуаром свои образы. Рекомендуем надевать кулон вместе с белыми майками, кружевными эспадрильями и джинсами бойфренда.

            %ul.b-characteristics
              - details = [{'Серебро': '12 К'}, {'Цирконы': '10 К'}, {'Кристаллов': '1294'}, {'Вес': '3 гр' }]
              - for obj, i in details
                - for key of obj
                  %li
                    = "#{key}:"
                    = obj[key]

      / Иные товары

      %section.b-item-list
        %h1.b-item-list__title Табуретки
        .b-item-list__content
          - for i in [1..3]
            .b-item-list__item
              %a.b-item{href: 'product.html'}
                .b-item__pic-wrap
                  %img.b-item__pic{src: 'images/product-square.jpg', alt:'paste product name here'}
                  .b-item__status
                    -if i == 1
                      %span.b-status.b-status_sold Распродано
                    -if i == 2
                      %span.b-status.b-status_preorder Под заказ
                    -if i == 3
                      %span.b-status.b-status_sale Sale -24%
                .b-item__info
                  %h2.b-item__name Моно-серьга имитация тоннеля серебряная с белыми цирконами
                  .b-item__price 8 900 руб.
        

      +include 'app/haml/shared/_footer.haml'
    
    %script{src: 'scripts/vendor.js'}
    %script{src: 'scripts/client.js'}
    %script{:defer => "defer", :type => "text/javascript"}
      \//
        BasketActions.receiveBasket( {"items":[{"product_item":{"id":3777,"product_id":2057,"title":"Размер: 13","updated_at":"2014-11-19T15:27:48.378+04:00","created_at":"2014-10-29T15:48:25.489+04:00","article":"MR007-01-13","quantity_unit":{"id":"pcs","short":"шт."},"quantity":"15.0","count":15,"description":"Миникольцо Ви без камней серебряное (родий, Серебро 925, R140114, 13, MR007-01-13)","stock_synced_at":"2014-11-19T15:25:01.742+04:00","is_stock_synced":true,"ms_consignment_uuid":"ea75f922-2e22-11e4-f123-002590a28eca","ms_feature_uuid":"ea75f327-2e22-11e4-279d-002590a28eca","product":{"id":2057,"category_id":173,"title":"Миникольцо Ви без камней серебряное","updated_at":"2014-11-18T20:03:34.676+04:00","position":33,"price":{"cents":200000,"currency":"RUB"},"is_published":true,"has_errors":false,"manual_state":0,"total_items_quantity":"155.0","quantity_unit":{"id":"pcs","short":"шт."},"state":"published","description":"","image":{"mobile_url":"http://3001.vkontraste.ru/uploads/product_image/image/4229/image.png","url":"http://3001.vkontraste.ru/uploads/product_image/image/4229/image.png","id":4229},"images":[{"mobile_url":"http://3001.vkontraste.ru/uploads/product_image/image/4229/image.png","url":"http://3001.vkontraste.ru/uploads/product_image/image/4229/image.png","id":4229}]}}}],"total_price":{"fractional":"230000.0","currency":{"id":"rub","priority":100,"iso_code":"RUB","name":"Russian Ruble","symbol":"р.","alternate_symbols":["руб"],"subunit":"Kopek","subunit_to_unit":100,"symbol_first":false,"html_entity":"\u0026#x0440;\u0026#x0443;\u0026#x0431;","decimal_mark":",","thousands_separator":".","iso_numeric":"643"},"bank":{"rounding_method":null,"rates":{},"mutex":{}}},"products_price":{"fractional":"200000.0","currency":{"id":"rub","priority":100,"iso_code":"RUB","name":"Russian Ruble","symbol":"р.","alternate_symbols":["руб"],"subunit":"Kopek","subunit_to_unit":100,"symbol_first":false,"html_entity":"\u0026#x0440;\u0026#x0443;\u0026#x0431;","decimal_mark":",","thousands_separator":".","iso_numeric":"643"},"bank":{"rounding_method":null,"rates":{},"mutex":{}}},"delivery_price":{"fractional":"30000.0","currency":{"id":"rub","priority":100,"iso_code":"RUB","name":"Russian Ruble","symbol":"р.","alternate_symbols":["руб"],"subunit":"Kopek","subunit_to_unit":100,"symbol_first":false,"html_entity":"\u0026#x0440;\u0026#x0443;\u0026#x0431;","decimal_mark":",","thousands_separator":".","iso_numeric":"643"},"bank":{"rounding_method":null,"rates":{},"mutex":{}}},"items_amount":1});
        \//
    