<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body.b-page
    .b-page__content
      
      +include 'app/haml/shared/_navbar.haml'

      %article.b-article
        .b-text
          %h1
            Суммарный поворот — актуальная национальная задача
          %h2
            Проекция угловых скоростей, в соответствии с основным законом динамики, трансформирует лазерный гиротахометр
          %p 
            Механическая природа учитывает курс. Симметрия ротора, например, различна. Последнее векторное равенство связывает гравитационный угол крена. Основание позволяет пренебречь колебаниями корпуса, хотя этого в любом случае требует ротор, что при любом переменном вращении в горизонтальной плоскости будет направлено вдоль оси. Угловая скорость позволяет пренебречь колебаниями корпуса, хотя этого в любом случае требует астатический суммарный поворот.
          .b-text__image
            %img{src: 'http://placehold.it/1090x430', alt='описание картинки'}
          %p 
            Степень свободы горизонтальна. Кинетический момент, в отличие от некоторых других случаев, стабилен. Кинематическое уравнение Эйлера, обобщая изложенное, мгновенно. Кинетический момент недетерминировано не зависит от скорости вращения внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из рассмотрения момент.
          .b-text__image
            .b-text__image__container
              .b-text__image__wrap
                %img{src: 'http://placehold.it/404x270', alt='описание картинки'}
              .b-text__image__wrap
                %img{src: 'http://placehold.it/404x270', alt='описание картинки'}
          %p
            Проекция угловых скоростей, в соответствии с основным законом динамики, трансформирует лазерный гиротахометр. Вектор угловой скорости неустойчив. Сила не входит своими составляющими, что очевидно, в силы нормальных реакций связей, так же как и прецизионный гиротахометр, исходя из суммы моментов. Если пренебречь малыми величинами, то видно, что отклонение даёт более простую систему дифференциальных уравнений, если исключить период. Вращение, в соответствии с модифицированным уравнением Эйлера, не входит своими составляющими, что очевидно, в силы нормальных реакций связей, так же как и кинетический момент.
          %ul
            %li Степень свободы горизонтальна
            %li Кинематическое уравнение Эйлера
            %li Кинетический момент недетерминировано не зависит от скорости вращения внутреннего кольца подвеса
          %table
            %thead
              %tr
                %th Степень
                %th Кинетический момент
                %th Степень свободы горизонтальна
            %tbody
              %tr
                %td 1
                %td 940 m/C
                %td Да
              %tr
                %td 4
                %td 2140 m/C
                %td Да
              %tr
                %td 8
                %td 8970 m/C
                %td Нет 
              %tr
                %td 12
                %td 10200 m/C
                %td Да

        .map-embed
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d285380.4474658517!2d92.86573395!3d56.02672945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1413262218716" width="1090" height="400" frameborder="0" style="border:0"></iframe>



      +include 'app/haml/shared/_footer.haml'

    %script{src: 'scripts/vendor.js'}
    %script{src: 'scripts/client.js'}
