<!DOCTYPE html>
%html
  %head
    +include 'app/haml/shared/_head.haml'
  %body.b-page
    .b-page__content
      
      +include 'app/haml/shared/_navbar.haml'

      %section.b-item-list
        %h1.b-item-list__title Табуретки
        .b-item-list__content
          - for i in [1..6]
            .b-item-list__item
              %a.b-item{href: 'product.html'}
                .b-item__pic-wrap
                  %img.b-item__pic{src: 'images/product-square.jpg', alt:'paste product name here'}
                  .b-item__status
                    -if i == 1
                      %span.b-status.b-status_sold Распродано
                    -if i == 2
                      %span.b-status.b-status_preorder Под заказ
                    -if i == 3
                      %span.b-status.b-status_sale Sale -24%
                .b-item__info
                  %h2.b-item__name Моно-серьга имитация тоннеля серебряная с белыми цирконами
                  .b-item__price 8 900 руб.

      +include 'app/haml/shared/_footer.haml'

    %script{src: 'scripts/vendor.js'}
    %script{src: 'scripts/client.js'}
