.b-cart
  &__content
    @extend .b-layout
  
  &__title
    text-transform: uppercase
    padding: 19px 0 13px
    border: 1px solid #e2e2e2
    border-width: 1px 0
    margin: 0
    text-align: center
    font-weight: normal
    font-size: 18px

  &__message
    padding: 38px 0
    
    max-width: 500px
    margin: 47px auto 0
    text-align: center
    p
      margin: 0 0 100px
      font-size: 1.571em
    // a
    //   padding-bottom: 6px
    //   color: #121212
    //   font-weight: bold
    //   border-bottom: 1px solid #e2e2e2

  &__list,
  &__total-sum,
  &__action
    margin: 47px 60px 0 100px
    @include grid-media-query("lap")
      margin-left: 0
      margin-right: 0
    @include grid-media-query("palm")
      margin-left: 0
      margin-right: 0

  &__total-sum
    text-align: right
    font-size: 2.143em

  &__action
    &__container
      @extend %grid
    
    &__col
      &-clear,
      &-code,
      &-back,
      &-submit
        @extend %grid__item
      
      &-clear
        @extend %six-twelfths
        @extend %lap--four-twelfths
        @extend %palm--one-whole
        @extend %desk--three-twelfths
        
      &-code
        @extend %six-twelfths
        @extend %lap--eight-twelfths
        @extend %palm--one-whole
        @extend %push--desk--three-twelfths
        text-align: right
        @include grid-media-query("palm")
          padding-top: 10px

      &-back,
      &-submit
        @extend %five-twelfths
        @extend %palm--one-whole

      &-submit
        .b-cart__action__submit
          width: 100%
          margin-left: 0
          @include grid-media-query("palm")
            margin-top: 10px

    &__submit
      margin-left: 2%

    &__code,
    &__submit
      width: 46%
      display: inline-block
      vertical-align: top
      @include grid-media-query("palm")
        width: 100%
        margin: 0 0 10px

    &__code
      border: 1px solid #e2e2e2
      padding: 13px 3px 12px 17px
      box-sizing: border-box
      @include grid-media-query("palm")
        text-align: center

    &__clear
      display: block


  &__list
    list-style: none
    padding: 0

  &__item
    @extend %grid
    padding-bottom: 25px
    position: relative

    &__img
      width: 100%

    &__title,
    &__option
      margin: 0
      font-size: 1.143em
      @include grid-media-query("palm")
        font-size: 1em

    &__option
      margin-top: 3px

    &__price
      font-size: 1.429em
      margin-top: -5px

    &__quantity
      // @include grid-media-query("palm")
      //   margin-left: -6%
      &__text
        float: left
        width: 90px
        @include grid-media-query("palm")
          float: none
      &__select
        margin-left: 90px
        max-width: 60px
        @include grid-media-query((lap, palm))
          margin-left: 0
          max-width: 100%
        select
          width: 100%
          box-sizing: border-box

    &__remove
      display: block
      border-radius: 17px
      width: 34px
      height: 34px
      background-color: #bcbcbc
      cursor: pointer
      transition: background-color 0.2s ease
      img
        width: 100%
      @include grid-media-query("palm")
        position: absolute
        right: 0
        top: 0

    &__col
      &-img,
      &-content,
      &-quantity,
      &-price,
      &-remove
        @extend %grid__item
      
      &-img
        @extend %two-twelfths
        // @extend %lap--one-twelfths
        @extend %palm--one-third

      &-content
        @extend %four-twelfths
        // @extend %lap--four-twelfths
        @extend %palm--two-thirds
        @include grid-media-query("palm")
          padding-right: 30px

      // &-quantity
      //   @extend %three-twelfths
      //   @extend %portable--four-twelfths


      &-price
        @extend %two-twelfths
        // @extend %lap--two-twelfths
        @extend %push--palm--one-third
        @extend %palm--one-third

      &-quantity
        @extend %three-twelfths
        // @extend %lap--three-twelfths
        @extend %push--palm--one-third
        @extend %palm--one-third

      &-remove
        @extend %one-twelfth
        // @extend %lap--one-twelfths

  &__form
    max-width: 580px
    margin: 55px 0 0 205px
    &__delivery-name,
    &__delivery-price
      display: inline-block
      vertical-align: top
      width: 40%
    .b-cart__action
      margin: 0
    @include grid-media-query("lap")
      margin-left: auto
      margin-right: auto
    @include grid-media-query("palm")
      margin-left: 0