.b-footer
  margin-top: 70px

  &__container
    @extend .b-layout

  &__content
    @extend %grid

  &__nav
    @extend %grid__item
    @extend %palm--one-whole
    margin: 20px 0
    @include grid-media-query("palm")
      margin: 5px 0
    &_soc
      @extend %three-twelfths
      @extend %lap--four-twelfths
      text-align: right
      @include grid-media-query("palm")
        text-align: left
      .b-footer
        &__link
          margin: 0 0 0 25px
    &_main
      @extend %nine-twelfths
      @extend %lap--eight-twelfths

  &__link
    font-size: 1.143em
    margin-left: 25px
    transition: color .2s ease
    &:first-child
      margin-left: 0
    @include grid-media-query("lap")
      font-size: 1em
      margin-left: 15px
    @include grid-media-query("palm")
      font-size: 1em
      margin-left: 10px