$articulColor: #828282

.b-item-full
  @extend .b-layout
  margin-top: 40px

  &__header
    @include grid-media-query("lap")
      display: none
    &_mobile
      display: none
      @include grid-media-query("lap")
        display: block

  &__content
    @extend %grid

  &__gallery,
  &__description
    @extend %grid__item
    @extend %one-half
    @extend %portable--one-whole

  &__description-inner
    @extend %grid
    margin-bottom: 55px
    
    &__col-left
      @extend %grid__item
      @extend %five-twelfths
      @extend %portable--one-whole
    &__col-right
      @extend %grid__item
      @extend %seven-twelfths
      @extend %portable--one-whole

  &__title
    font-size: 2rem
    font-weight: normal
    margin: 0 0 1em

  &__articul
    font-weight: normal
    color: $articulColor
    font-size: 0.429em

  &__price
    font-size: 2rem
    margin: 0 0 10px
    &__currency
      font-size: 0.324em
      display: inline-block
      vertical-align: top
      padding: 9px 0
    &__old,
    &__sale
      display: inline-block
      vertical-align: top
    &__sale
      font-size: 0.412em
      background-color: #f05a61
      padding: 2px 2px 2px 5px
      text-transform: uppercase
      color: #fff
      letter-spacing: 2px
    &__old
      font-size: 0.471em
      text-decoration: line-through
      color: $basicColorHover

  &__text
    margin-bottom: 1em

  .b-characteristics,
  &__text
    font-size: 1.143rem

  &__form
    @extend %grid
    margin-top: 10px
    margin-bottom: 17px

    &__option
      select
        box-sizing: border-box
        height: 43px
        padding: 0 15px
        width: 100%
        border: 1px solid rgba(130, 130, 130, .4)
        background: none
        border-radius: 0
        color: #121212
        background-position: right center
        background-repeat: no-repeat
        background-image: url("#{$images-path}/select-down-icon.png")
        background-image: url("#{$images-path}/select-down-icon.svg")
        -moz-appearance: none
        -webkit-appearance: none
        appearance: none

    &__submit
      .b-btn
        display: block
        width: 100%

    &__option,
    &__submit
      @extend %grid__item
      @extend %one-half
      @extend %palm--one-whole