.b-item
  display: block
  &__pic
    width: 100%
    vertical-align: top
    &-wrap
      position: relative
  
  &__status
    position: absolute
    bottom: 0
    left: 0
    .b-status
      display: block
  
  &__info
    margin: 8px 0 0

  &__name
    margin: 0
    font-weight: normal
    font-size: 1.143em

  &__price
    margin: 0.5em 0 0
    font-size: 1.143em