a
  text-decoration: none
  color: $basicColor
  &:hover
    color: $basicColorHover
  &:focus
    outline: none

body
  min-width: 300px

.b-page
  background-color: #fff
  font:
    family: $font-stack-default-family
    size: $font-stack-default-size

  color: $basicColor
  line-height: $lineHeight
  -webkit-font-smoothing: antialiased