.b-paginator
  font-size: 1.143rem
  padding: 0 40px
  &__item
    @extend .b-btn
    display: inline-block
    vertical-align: middle
    margin: 0 3px
    padding: 2px 10px
    background-color: $basicBorderColor
    &_current
      background-color: #000

.pagination
    @extend .b-paginator
    .next,
    .prev,
    .first,
    .last
        display: inline
        a
            @extend .b-paginator__item
            font-weight: bold
    .page
        display: inline
        a
            @extend .b-paginator__item
        &.active
            a
                @extend .b-paginator__item_current
        &.disabled
            a
                background-color: $basicBorderColor
                cursor: not-allowed
