.b-slider
  margin: 0 auto
  &__item
    display: block
    img
      max-width: 100%
      vertical-align: top

  .owl-pagination
    display: none

  &_thumbs
    @include grid-media-query("lap")
      display: none !important
    @include grid-media-query("palm")
      display: none !important
    .owl-item
      transition: opacity .2s ease
      &.synced
        opacity: .8

  &_promo
    overflow: hidden
    background: url(#{$images-path}/loader.gif) 50% 50% no-repeat
    transition: height .2s ease
    &[application-slider]
      height: 40px
    &.loaded
      height: auto
      background: none
    @include grid-media-query((palm, lap))
      padding-left: 0
      padding-right: 0
    
    .owl-controls
      position: static
    .b-slider
      &__item
        text-align: center