.b-page
  // Цвет фона страницы
  &_bg-dark
    background-color: #53777A
  &_bg-white
    background-color: #fff
  &_bg-black
    background-color: #000

  // Шрифты
  &_ff-helvetica
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif

  &_ff-ptserif
    font-family: "PT Serif",TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif

  &_ff-ptsans
    font-family: "PT Sans",Helvetica,Arial,sans-serif

  &_ff-verdana
    font-family: Verdana,Geneva,sans-serif

  &_ff-courier
    font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace

  // Лейаут для большой картинки в товаре (нужно тригернуть window.resize после установик класса)
  &_layout-bigpic
    .b-item-full
      &__gallery,
      &__description
        @extend %one-whole
        @extend %portable--one-whole

  // Товаров в ряд
  &[data-in-row="2"]
    .b-item-list
      &__item
        @extend %one-half
        @extend %lap--one-half
        @extend %palm--one-half

  &[data-in-row="3"]
    .b-item-list
      &__item
        @extend %one-third
        @extend %lap--one-half
        @extend %palm--one-half

  &[data-in-row="4"]
    .b-item-list
      &__item
        @extend %three-twelfths
        @extend %lap--one-half
        @extend %palm--one-half