.b-page
  &_bg-dark
    background-color: #53777A
  &_bg-pic-p
    background-image: url(http://e08595.medialib.glogster.com/media/04/0463cfaf4ce3325b2d16bb5f56a4b5466f0df66553198c13ab0245486e872fd3/tumblr-lhlcynrexb1qapgvbo1-500-jpg.jpg)

  &_layer-light
    .b-page__content__inner
      background-color: #ECD078

  &_text-light
    color: #542437

  &_active-dark
    a
      color: #C02942
      &:hover
        color: #542437

  &_ff-gotham
    font-family: $font-stack-gotham-family


